In [1]:
import streamlit as st
import pandas as pd
import pydeck as pdk
import duckdb as db

In [25]:
import sqlite3
import pandas as pd

# เชื่อมต่อกับ SQLite database
sqlite_conn = sqlite3.connect('airbnb.db') # หรือใช้ path ของคุณเอง
#df = pd.read_sql_query("SELECT * FROM airbnb_listings", conn)

# แสดงข้อมูล
#print(df.head())

In [26]:
import sqlite3

conn = sqlite3.connect('airbnb.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[]

In [22]:
import sqlite3
import pandas as pd
import duckdb

# ใช้ sqlite3 เปิด SQLite .db ไฟล์
sqlite_conn = sqlite3.connect('airbnb.db')

# อ่านตารางเป็น pandas DataFrame
#df = pd.read_sql_query("SELECT * FROM airbnb.airbnb_listings", sqlite_conn)

# สร้าง connection ไป DuckDB และ register DataFrame ถ้าต้องการ query ต่อ
duckdb_conn = duckdb.connect()
duckdb_conn.register('df_view', df)

# ลอง query ต่อจาก DuckDB ถ้าต้องการ
result = duckdb_conn.execute("SELECT * FROM df_view LIMIT 5").fetchdf()

print(result)

NameError: name 'df' is not defined

In [13]:
import sqlite3
import pandas as pd

# เชื่อมต่อกับ SQLite database
conn = sqlite3.connect('airbnb.db')

# อ่านข้อมูลจากตาราง
airbnb_listings = duckdb.query("SELECT * FROM airbnb.airbnb_listings").df()
display(airbnb_listings)

# แสดงข้อมูล
#print(df.head())

CatalogException: Catalog Error: Table with name airbnb_listings does not exist!
Did you mean "information_schema.table_constraints"?

In [18]:
import sqlite3
import pandas as pd

# เชื่อมต่อกับ SQLite database
conn = sqlite3.connect('airbnb.db')

# อ่านข้อมูลจากตาราง airbnb_listings ด้วย pandas
airbnb_listings = pd.read_sql_query("SELECT * FROM airbnb.airbnb_listings", conn)

# แสดงผล
print(airbnb_listings.head())  # หรือใช้ display() ใน Jupyter

DatabaseError: Execution failed on sql 'SELECT * FROM airbnb.airbnb_listings': no such table: airbnb.airbnb_listings

In [19]:
import sqlite3
import pandas as pd

# เชื่อมต่อ SQLite database
conn = sqlite3.connect('airbnb.db')

# อ่านข้อมูลจากตารางโดยใช้ชื่อที่ถูกต้อง
df = pd.read_sql_query("SELECT * FROM airbnb_listings", conn)

# แสดงข้อมูล
print(df.head())

DatabaseError: Execution failed on sql 'SELECT * FROM airbnb_listings': no such table: airbnb_listings

In [8]:
import duckdb
import pandas as pd

# เชื่อมต่อ DuckDB (ไม่ต้องใส่ไฟล์)
con = duckdb.connect()

# ติดตั้งและโหลด SQLite extension
con.execute("INSTALL sqlite; LOAD sqlite;")

# แนบฐานข้อมูล SQLite (airbnb.db)
con.execute("ATTACH 'airbnb.db' AS sqlite_db (TYPE sqlite);")

# ตรวจสอบรายชื่อตาราง
#tables = con.execute("SHOW TABLES FROM airbnb_listings").fetchall()
#print("Tables:", tables)

# สมมติว่ามีตารางชื่อ 'listings' ให้ดึงข้อมูล
df = con.execute("SELECT * FROM airbnb.airbnb_listings").fetchdf()

print(df.head())

CatalogException: Catalog Error: Table with name airbnb_listings does not exist!
Did you mean "information_schema.table_constraints"?

LINE 1: SELECT * FROM airbnb.airbnb_listings
                      ^

In [ ]:
df = pd.read_csv("Starbucks.csv")
st.write(df)

In [11]:
import duckdb
import pandas as pd
import streamlit as st

# เปิด SQLite database ผ่าน DuckDB
con = duckdb.connect()
con.execute("INSTALL sqlite; LOAD sqlite;")
con.execute("ATTACH 'yourfile.db' AS sqlite_db (TYPE sqlite);")

# Query จาก table ชื่อ 'starbucks' ใน SQLite
#df = con.execute("SELECT * FROM sqlite_db.starbucks").fetchdf()

#st.write(df)